
  <TEHOBJ ARH_PER="0" CARDID="5771" DISC="" EVKLASSNAME="{{EVKLASSNAME}}" KKS="" KLASSNAME="{{KLASSNAME}}" MARKA="{{MARKA}}" NAME="{{NAME}}" OBJDPARAM="" OBJNUMBER="0" OBJSIGN="{{OBJSIGN}}" OBJTYPENAME="IMV" PLCNAME="{{PLCNAME}}" PLC_ADRESS="0" PLC_GR="10" PLC_VARNAME="" RESOURCENUM="1" SREZCONTROL="1" TEMPLATENAME="WithoutStatus">
    <PARAMS>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106888" PARAMNAME="[]._ST_IMV.OXON_SCADA" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106889" PARAMNAME="[]._ST_IMV.OXOF_SCADA" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106890" PARAMNAME="[]._ST_IMV.DAOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106891" PARAMNAME="[]._ST_IMV.DAON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106892" PARAMNAME="[]._ST_IMV.OAON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106893" PARAMNAME="[]._ST_IMV.OAOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106894" PARAMNAME="[]._ST_IMV_IFXX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106895" PARAMNAME="[]._ST_IMV_DFXX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106896" PARAMNAME="[]._ST_IMV_CIMX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106897" PARAMNAME="[]._ST_IMV_XIMX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106898" PARAMNAME="[]._ST_IMV_XSPP" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106899" PARAMNAME="[]._ST_IMV_DION" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106900" PARAMNAME="[]._ST_IMV_DIOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106901" PARAMNAME="[]._ST_IMV_COMM" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106902" PARAMNAME="[]._ST_IMV_IONX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106903" PARAMNAME="[]._ST_IMV_IOFX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106904" PARAMNAME="[]._ST_IMV_ILCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106905" PARAMNAME="[]._ST_IMV_IRCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106906" PARAMNAME="[]._ST_IMV_CAON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106907" PARAMNAME="[]._ST_IMV_CAOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106908" PARAMNAME="[]._ST_IMV_CBON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106909" PARAMNAME="[]._ST_IMV_CBOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106910" PARAMNAME="[]._ST_IMV_COON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106911" PARAMNAME="[]._ST_IMV_COOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106912" PARAMNAME="[]._ST_IMV_COSP" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106913" PARAMNAME="[]._ST_IMV_CEON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106914" PARAMNAME="[]._ST_IMV_CEOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106915" PARAMNAME="[]._ST_IMV_CRPX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106916" PARAMNAME="[]._ST_IMV_CRST" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106917" PARAMNAME="[]._ST_IMV_CRRX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106918" PARAMNAME="[]._ST_IMV_DOON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106919" PARAMNAME="[]._ST_IMV_DOOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106920" PARAMNAME="[]._ST_IMV_DOSP" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106921" PARAMNAME="[]._ST_IMV_DLCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106922" PARAMNAME="[]._ST_IMV_DRCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106923" PARAMNAME="[]._ST_IMV_STSX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106924" PARAMNAME="[]._ST_IMV_SRQX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106925" PARAMNAME="[]._ST_IMV_OXON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106926" PARAMNAME="[]._ST_IMV_OXOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106927" PARAMNAME="[]._ST_IMV_OXSP" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106928" PARAMNAME="[]._ST_IMV_XONX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106929" PARAMNAME="[]._ST_IMV_XOFX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106930" PARAMNAME="[]._ST_IMV_XMMX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106931" PARAMNAME="[]._ST_IMV_XRPX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106932" PARAMNAME="[]._ST_IMV_FXXX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106933" PARAMNAME="[]._ST_IMV_FFON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106934" PARAMNAME="[]._ST_IMV_FFOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106935" PARAMNAME="[]._ST_IMV_FDCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106936" PARAMNAME="[]._ST_IMV_FONX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106937" PARAMNAME="[]._ST_IMV_FOFX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106938" PARAMNAME="[]._ST_IMV_FUCX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106939" PARAMNAME="[]._ST_IMV_FUSX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106940" PARAMNAME="[]._ST_IMV_FRQX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106941" PARAMNAME="[]._ST_IMV_OCON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106942" PARAMNAME="[]._ST_IMV_OCOF" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="0" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106943" PARAMNAME="[]._ST_IMV_FDSX" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106944" PARAMNAME="[]._ST_IMV_RWON" PLC_VARNAME="" S0="0" S100="100"/>
      <PARAM ARH_APP="-1" DISC="" ED_IZM="" INITIALVALUE="" KA="1" KB="0" M="1" PARAMID="106945" PARAMNAME="[]._ST_IMV_RWOF" PLC_VARNAME="" S0="0" S100="100"/>
    </PARAMS>
    <ISACARDS>
      <IsaCard DISC="Описание нового Isa объекта _IMV" INITIALVALUE="18(),8(TRUE),6.0,77,,2(FALSE),3(),2(FALSE),18(),2(),2(FALSE),2(),19(),0.1" ISRETAIN="0" SSIZE="" TEMPLATEPREFIX="" TYPENAME="FB_ST_IMV"/>
    </ISACARDS>
  </TEHOBJ>
