<?xml version="1.0" encoding="UTF-8"?>
<BufScadaPOUS><Common VER="21" Project="C:\_Scada\DB\BD\SCADABD.GDB" isCut="false" isFFB="false" ControllerTypeName="" ControllerID="317" ResuorceID="10"/><POUS><OnePOU ID="3108" NAME="import_fbd" isFBD="1" GroupID="0" Enabled="1" POUNum="110" Disc=""><PARAMS><DPARAMS>3</DPARAMS><HEIGHT>2000</HEIGHT><WIDTH>2000</WIDTH><SHABLONPAGEID>0</SHABLONPAGEID><FONCOLOR>16777215</FONCOLOR><PRINTWIDTH/><PRINTHEIGHT/><PRINTPAGEA4>8</PRINTPAGEA4></PARAMS><ISAGraf><Types><Type Name="ISA_TOPO"/><Type Name="QSG"/></Types><Blocks>{% for block in bloks %}{{block}}{% endfor %}</Blocks><Gotos/><Links>{% for link in links %}{{link}}{% endfor %}</Links></ISAGraf><GrObj/></OnePOU></POUS></BufScadaPOUS>



