				<OneLayer Num="1">
					<OnePrim BrushColor="536870912" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63028" WIDTH="17" X="{{WIDTH - 21 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63029" WIDTH="17" X="{{WIDTH - 59 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63030" WIDTH="17" X="{{WIDTH - 78 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63031" WIDTH="17" X="{{WIDTH - 97 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63032" WIDTH="17" X="{{WIDTH - 116 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="0" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63033" WIDTH="17" X="{{WIDTH - 40 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
					</OnePrim>
					<OnePrim BrushColor="536870923" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63034" WIDTH="17" X="{{WIDTH - 21 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="32" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Недостоверность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="16711680" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63035" WIDTH="17" X="{{WIDTH - 59 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="33" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Имитация)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870919" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63036" WIDTH="17" X="{{WIDTH - 78 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="35" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Неисправность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870920" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63037" WIDTH="17" X="{{WIDTH - 97 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="26" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Предупреждение)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870918" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63038" WIDTH="17" X="{{WIDTH - 116 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="34" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Авария)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="8421504" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63039" WIDTH="17" X="{{WIDTH - 40 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="1" OPER="31" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Ремонт)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63040" WIDTH="17" X="{{WIDTH - 116 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="34" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Авария)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63041" WIDTH="17" X="{{WIDTH - 97 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="26" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Предупреждение)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63042" WIDTH="17" X="{{WIDTH - 78 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="35" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Неисправность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63043" WIDTH="17" X="{{WIDTH - 59 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="33" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Имитация)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870912" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63044" WIDTH="17" X="{{WIDTH - 21 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="32" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Недостоверность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63045" WIDTH="17" X="{{WIDTH - 40 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="31" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Ремонт)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="8421504" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63046" WIDTH="17" X="{{WIDTH - 40 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="31" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Ремонт)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="31" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Ремонт)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870918" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63047" WIDTH="17" X="{{WIDTH - 116 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="34" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Авария)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="34" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Авария)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870920" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63048" WIDTH="17" X="{{WIDTH - 97 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="26" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Предупреждение)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="26" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Предупреждение)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870919" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63049" WIDTH="17" X="{{WIDTH - 78 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="35" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Неисправность)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="35" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Неисправность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="16711680" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63050" WIDTH="17" X="{{WIDTH - 59 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="33" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="3">
								<ExData>({{NAME_GRUP}})/(Имитация)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="33" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Имитация)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
					<OnePrim BrushColor="536870923" DRAWTYPE="256" GRNUM="0" GradColor="0" HEIGHT="17" OBJTYPE="1" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="63051" WIDTH="17" X="{{WIDTH - 21 + X0}}" Y="{{Y + Y0}}">
						<PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="1;16777215" ARRAYPARAMS="0" ATRIBID="127" CONSTVALUE="0" OPER="32" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="3">
								<ExData>({{NAME_GRUP}})/(Недостоверность)</ExData>
								<ExDataA/>
							</OneAnim>
							<OneAnim ACTPARAM="1" ARRAYPARAMS="0" ATRIBID="101" CONSTVALUE="0" OPER="32" PARAMID="111" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="2">
								<ExData>({{NAME_GRUP}})/(Недостоверность)</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
					</OnePrim>
				</OneLayer>