				<OneLayer Num="1">
					<OnePrim BrushColor="12632256" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="30" OBJTYPE="14" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="77944" WIDTH="{{WIDTH}}" X="{{X}}" Y="{{Y}}">
						<PARAMS>[TEXT]= {{NAME_GRUP}}
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="{{NAME_PAGE}}" FROMID="2790" PARAM_FLOAT="0" PARAM_INT="{{PAGE_ID}}" PARAM_ST="{{POSITION}};0;{{HEIGHT}};();" TYPEID="1" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="30" OBJTYPE="14" PenColor="8421504" PenParams="257" ScriptName="" SourceT11ID="78095" WIDTH="{{WIDTH}}" X="{{X}}" Y="{{Y}}">
						<PARAMS>[TEXT]=
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="{{NAME_PAGE}}" FROMID="2797" PARAM_FLOAT="0" PARAM_INT="{{PAGE_ID}}" PARAM_ST="{{POSITION}};0;{{HEIGHT}};();" TYPEID="1" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
					</OnePrim>
				</OneLayer>