                <OneLayer Num="1">
					<OnePrim BrushColor="10908991" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="30" OBJTYPE="14" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="64471" WIDTH="{{WIDTH}}" X="0" Y="{{Y}}">
						<PARAMS>[TEXT]= {{NAME_GRUP}}
[FONTID]=18
[USERFONT]=10;Arial;1;16777215;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="/////" FROMID="1749" PARAM_FLOAT="0" PARAM_INT="0" PARAM_ST="" TYPEID="9" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (белый)/Arial/10/16777215/1</FONTID_EXDATA>
					</OnePrim>
					<OnePrim BrushColor="10908991" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="30" OBJTYPE="14" PenColor="8421504" PenParams="257" ScriptName="" SourceT11ID="64521" WIDTH="{{WIDTH}}" X="0" Y="{{Y}}">
						<PARAMS>[TEXT]=
[FONTID]=18
[USERFONT]=10;Arial;1;16777215;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="/////" FROMID="1751" PARAM_FLOAT="0" PARAM_INT="0" PARAM_ST="" TYPEID="9" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (белый)/Arial/10/16777215/1</FONTID_EXDATA>
					</OnePrim>
				</OneLayer>
