				<OneLayer Num="1">
					<OnePrim BrushColor="12632256" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="25" OBJTYPE="14" PenColor="8421504" PenParams="1" ScriptName="" SourceT11ID="64522" WIDTH="{{WIDTH - X + X0}}" X="{{X}}" Y="{{Y}}">
						<PARAMS>[TEXT]= {{NAME_PAGE}}
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="536870937" ARRAYPARAMS="0" ATRIBID="502" CONSTVALUE="0" OPER="1" PARAMID="{{PAGE_ID}}" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="14146783">
								<ExData>{{NAME_GRUP}}</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="{{NAME_PAGE}}" FROMID="1752" PARAM_FLOAT="0" PARAM_INT="{{PAGE_ID}}" PARAM_ST="0;0;0;();" TYPEID="1" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
					</OnePrim>
					<OnePrim BrushColor="12632256" DRAWTYPE="2" GRNUM="0" GradColor="0" HEIGHT="25" OBJTYPE="14" PenColor="8421504" PenParams="257" ScriptName="" SourceT11ID="64572" WIDTH="{{WIDTH - X + X0}}" X="{{X}}" Y="{{Y}}">
						<PARAMS>[TEXT]=
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
						<Animators>
							<OneAnim ACTPARAM="536870937" ARRAYPARAMS="0" ATRIBID="502" CONSTVALUE="0" OPER="1" PARAMID="{{PAGE_ID}}" PARAMMODE="0" SCRIPTMODE="0" SCRIPTTEXT="" VARERROR="14146783">
								<ExData>{{NAME_GRUP}}</ExData>
								<ExDataA/>
							</OneAnim>
						</Animators>
						<Receptors>
							<OneReceptor DPARAMS="0" EVKEYPARAMS="" EVPARAMS="1" EXDATA="{{NAME_PAGE}}" FROMID="1754" PARAM_FLOAT="0" PARAM_INT="{{PAGE_ID}}" PARAM_ST="0;0;0;();" TYPEID="1" USERRIGHTS="0"/>
						</Receptors>
						<FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
					</OnePrim>
				</OneLayer>