		<OnePage ID="592">
			<ID>592</ID>
			<NAME>{{NAME_PAGE}}</NAME>
			<SHABLONPAGEID>0</SHABLONPAGEID>
			<FORMARKA>0</FORMARKA>
			<EXDATA/>
			<FONCOLOR>536870912</FONCOLOR>
			<DPARAMS>242</DPARAMS>
			<HEIGHT>{{HEIGHT}}</HEIGHT>
			<WIDTH>{{WIDTH}}</WIDTH>
			<NUM>0</NUM>
			<PRINTWIDTH>1937</PRINTWIDTH>
			<PRINTHEIGHT>1363</PRINTHEIGHT>
			<PRINTPAGEA4>8</PRINTPAGEA4>
			<FRAMENUM>5</FRAMENUM>
			<SREZ>1</SREZ>
			<DISC/>
			<LAYERS/>
			<SCRIPTCODE/>
			<PageLayers>
				<OneLayer Num="1">
{% for layer in layers %}
{{layer}}{% endfor %}
				</OneLayer>
			</PageLayers>
		</OnePage>