<OnePrim SourceT11ID="58139" X="{{X}}" Y="{{Y}}" WIDTH="{{WIDTH - X}}" HEIGHT="25" OBJTYPE="14" GRNUM="0" DRAWTYPE="2" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]= {{name_btn}}
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="502" PARAMID="470" OPER="1" CONSTVALUE="0" ACTPARAM="536870937" VARERROR="14146783" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>{{page_name}}</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                        <Receptors>
                            <OneReceptor FROMID="1319" TYPEID="1" PARAM_INT="470" PARAM_FLOAT="0" PARAM_ST="0;0;0;();" EVPARAMS="1" DPARAMS="0" USERRIGHTS="0" EVKEYPARAMS="" EXDATA="{{page_name}}" />
                        </Receptors>
                        <FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
                    </OnePrim>
                    <OnePrim SourceT11ID="58140" X="{{X}}" Y="{{Y}}" WIDTH="{{WIDTH - X + X0}}" HEIGHT="25" OBJTYPE="14" GRNUM="0" DRAWTYPE="2" PenParams="257" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]= {{page_name}}
[FONTID]=19
[USERFONT]=10;Arial;1;0;
[HINT]=
[DELTAST]=2
[PRESSCOLOR]=536870911</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="502" PARAMID="470" OPER="1" CONSTVALUE="0" ACTPARAM="536870937" VARERROR="14146783" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>{{page_name}}</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                        <Receptors>
                            <OneReceptor FROMID="1320" TYPEID="1" PARAM_INT="470" PARAM_FLOAT="0" PARAM_ST="0;0;0;();" EVPARAMS="1" DPARAMS="0" USERRIGHTS="0" EVKEYPARAMS="" EXDATA="{{page_name}}" />
                        </Receptors>
                        <FONTID_EXDATA>Меню (черный)/Arial/10/0/1</FONTID_EXDATA>
                    </OnePrim>