                    <OnePrim SourceT11ID="58007" X="{{WIDTH- 29 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="536870912" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58008" X="{{WIDTH- 67 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58009" X="{{WIDTH- 86 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58010" X="{{WIDTH- 105 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58011" X="{{WIDTH- 124 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58012" X="{{WIDTH- 48 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM}}" DRAWTYPE="0" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                    </OnePrim>
                    <OnePrim SourceT11ID="58013" X="{{WIDTH- 29 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870923" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="32" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Недостоверность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58014" X="{{WIDTH- 67 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="16711680" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="33" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Имитация</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58015" X="{{WIDTH- 86 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870919" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="35" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Неисправность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58016" X="{{WIDTH- 105 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870920" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="26" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Предупреждение</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58017" X="{{WIDTH- 124 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870918" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="34" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Авария</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58018" X="{{WIDTH- 48 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 1}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="8421504" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="31" CONSTVALUE="1" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Ремонт</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58019" X="{{WIDTH- 124 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="34" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Авария</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58020" X="{{WIDTH- 105 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="26" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Предупреждение</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58021" X="{{WIDTH- 86 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="35" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Неисправность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58022" X="{{WIDTH- 67 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="33" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Имитация</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58023" X="{{WIDTH- 29 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870912" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="32" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Недостоверность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58024" X="{{WIDTH- 48 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 2}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="12632256" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;8421504;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="31" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Ремонт</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58025" X="{{WIDTH- 48 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="8421504" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Р
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="31" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Ремонт</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="31" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Ремонт</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58026" X="{{WIDTH- 124 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870918" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=A
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="34" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Авария</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="34" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Авария</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58027" X="{{WIDTH- 105 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870920" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=П
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="26" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Предупреждение</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="26" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Предупреждение</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58028" X="{{WIDTH- 86 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870919" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;0;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="35" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Неисправность</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="35" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Неисправность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58029" X="{{WIDTH- 67 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="16711680" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=И
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="33" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="3" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Имитация</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="33" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Имитация</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>
                    <OnePrim SourceT11ID="58030" X="{{WIDTH- 29 + X0}}" Y="{{Y + 5}}" WIDTH="17" HEIGHT="17" OBJTYPE="1" GRNUM="{{GRNUM + 3}}" DRAWTYPE="256" PenParams="1" PenColor="8421504" BrushColor="536870923" GradColor="0" ScriptName="">
                        <PARAMS>[TEXT]=Н
[FONTID]=65535
[USERFONT]=10;Arial Narrow;1;16777215;
[HINT]=
[DELTAST]=2</PARAMS>
                        <Animators>
                            <OneAnim ATRIBID="127" PARAMID="114" OPER="32" CONSTVALUE="0" ACTPARAM="1;16777215" VARERROR="3" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Недостоверность</ExData>
                                <ExDataA />
                            </OneAnim>
                            <OneAnim ATRIBID="101" PARAMID="114" OPER="32" CONSTVALUE="0" ACTPARAM="1" VARERROR="2" SCRIPTMODE="0" SCRIPTTEXT="" ARRAYPARAMS="0" PARAMMODE="0">
                                <ExData>({{name_title}})/Недостоверность</ExData>
                                <ExDataA />
                            </OneAnim>
                        </Animators>
                    </OnePrim>